<!DOCTYPE html>
<html>
<head>
    <title>FITUR MERAH</title>
</head>
<body>
    <h1>
        CREATE, READ, UPDATE, DELETE TESTIMONI & READ, UPDATE, DELETE LAYANAN
    </h1>
    <div class = fiturmerah>
        <button>
            <a href="{% url 'merah:createtestimoni' %}">BUAT TESTIMONI</a>
        </button>
        <button>
            <a href="{% url 'merah:rud_testimoni' %}">TESTIMONI</a>
        </button>
        <button>
            <a href="{% url 'merah:ru_layanan' %}">LAYANAN</a>
        </button>
    </div>
</body>
</html>