<!DOCTYPE html>
<html>
<head>
    <title>Layanan</title>
</head>
<body>
    <h1>
        LAYANAN
    </h1>
    <div class = rulayanan>
        <table>
            <caption>DAFTAR LAYANAN SILAU</caption>
            <thead>
                <tr>
                    <th><b>Kode Layanan</b></th>
                    <th><b>Nama Layanan</b></th>
                    <th><b>Durasi (menit)</b></th>
                    <th><b>Harga (per kg)</b></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>RG</td>
                    <td>Regular</td>
                    <td>2 hari</td>
                    <td>10000</td>
                    <td>
                        <button>
                            <a href="{% url 'merah:updatelayanan' %}">UPDATE</a>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>EX</td>
                    <td>Express</td>
                    <td>1 hari</td>
                    <td>15000</td>
                    <td>
                        <button>
                            <a href="{% url 'merah:updatelayanan' %}">UPDATE</a>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>SE</td>
                    <td>Super Express</td>
                    <td>3 jam</td>
                    <td>20000</td>
                    <td>
                        <button>
                            <a href="{% url 'merah:updatelayanan' %}">UPDATE</a>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>