<!DOCTYPE html>
<html>
<head>
    <title>Testimoni</title>
</head>
<body>
    <h1>
        TESTIMONI
    </h1>
    <div class = rudtestimoni>
        <table>
            <caption>DAFTAR TESTIMONI SILAU</caption>
            <thead>
                <tr>
                    <th><b>Email</b></th>
                    <th><b>Tanggal Transaksi</b></th>
                    <th><b>Tanggal Testimoni</b></th>
                    <th><b>Status</b></th>
                    <th><b>Rating</b></th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>joffill0@photobucket.com</td>
                    <td>2020-10-31 14:07:55</td>
                    <td>2020-11-20 10:44:09</td>
                    <td>Layanan bagus!</td>
                    <td>4</td>
                    <td>
                        <button>
                            <a href="{% url 'merah:updatetestimoni' %}">UPDATE</a>
                        </button>
                        <button>
                            <a href="">DELETE</a>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>momrod1@hibu.com</td>
                    <td>2020-10-31 07:08:22</td>
                    <td>2020-11-22 20:11:14</td>
                    <td>puas dengan servisnya. Besok-besok laundry di silau lagi</td>
                    <td>5</td>
                    <td>
                        <button>
                            <a href="{% url 'merah:updatetestimoni' %}">UPDATE</a>
                        </button>
                        <button>
                            <a href="">DELETE</a>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>mwelfair2@ucla.edu</td>
                    <td>2020-11-03 08:29:13</td>
                    <td>2020-11-23 01:04:11</td>
                    <td></td>
                    <td>2</td>
                    <td>
                        <button>
                            <a href="{% url 'merah:updatetestimoni' %}">UPDATE</a>
                        </button>
                        <button>
                            <a href="">DELETE</a>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>