{% extends 'base.html' %}
{% load static %}


{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Create Tarif Antar Jemput</title>
{% endblock meta %}

{% block content %}
<form action="" method="post">
    <table>
    {% csrf_token %}
    {{ form }}
    </table>
    <input type="submit" class="btn btn-primary" value="Create">
</form>
{% endblock content %}