{% extends 'base.html' %}
{% load static %}


{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Dummy Role</title>
{% endblock meta %}

{% block content %}
	<form action="" method="post">
		{% csrf_token %}
	    {{ form }}
	</form>
    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-primary" href="read_profil" title="">Lihat Profil</a>
        {% if is_staf %}
        <a class="btn btn-primary" href="read_tarif" title="">RUD Tarif Antar Jemput</a>
        <a class="btn btn-primary" href="create_tarif" title="">Create Tarif Antar Jemput</a>
        {% else %}
        <a class="btn btn-primary" href="read_tarif" title="">Lihat Tarif Antar Jemput</a>
        {% endif %}
        
    </div>
{% endblock content %}