{% extends 'base.html' %}
{% load static %}


{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Melihat Profile Pengguna</title>
{% endblock meta %}

{% block content %}
<div class="text-center">
  <img src="{% static 'images/' %}{{dummy_role}}.jpg" class="rounded" alt="..." style="width:256px;height:256px;">
</div>


<div class="col-md-8 text-center">
		<div class="row">
            <div class="col-md-6">
                <label>Role</label>
            </div>
            <div class="col-md-6">
                <p>{{ dummy_role }}</p>
            </div>
        </div>
        {% if fields_profile %}
        {% for field in fields_profile %}
        <div class="row">
            <div class="col-md-6">
                <label>{{field}}</label>
            </div>
            <div class="col-md-6">
                <p>Dummy Text Value</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}

</div>
{% endblock content %}