{% extends 'base.html' %}
{% load static %}


{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>RUD Tarif Antar Jemput</title>
{% endblock meta %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Kode</th>
        <th scope="col">Jarak Min (Km)</th>
        <th scope="col">Jarak Max (Km)</th>
        <th scope="col">Harga</th>
        {% if is_staf %}
        <th scope="col">Action [staff]</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% if tarif_antar_jemput %}
        {% for tarif in tarif_antar_jemput %}
        <tr>
            <td>{{tarif.0}}</td>
            <td>{{tarif.1}}</td>
            <td>{{tarif.2}}</td>
            <td>{{tarif.3}}</td>
            {% if is_staf %}
            <td>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary" href="update_tarif/{{tarif.0}}" title="">Update</a>
                <a class="btn btn-danger" href="delete_tarif/{{tarif.0}}" title="">Delete</a>
            </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
  </table>
{% endblock content %}