{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Fitur biru</title>
{% endblock meta %}


{% block content %}
    <div style="text-align: justify;"> 
        <h1>Silahkan pilih role anda</h1>
        <a href="{% url 'biru:qstaff' %}"><button  onclick="google.com">Staff</button></a>
        <a href="{% url 'biru:qpelanggan' %}"><button  onclick="google.com">Pelanggan</button></a>
        <a href="{% url 'biru:qkurir' %}"><button  onclick="google.com">Kurir</button></a>
    </div>
{% endblock content %}

