{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Query staff</title>
{% endblock meta %}


{% block content %}
    <div style="text-align: justify;"> 
        <h1>Silahkan pilih pilihan yang anda inginkan, staff!</h1>
        <h3>Read Update Delete Transaksi TOPUP DPAY</h3>
        <a href="{% url 'biru:staff' %}"><button  onclick="google.com">Click here! </button></a>
        <h3>Create Transaksi TOPUP DPAY</h3>
        <a href="{% url 'biru:create' %}"><button  onclick="google.com">Click here!</button></a>
        <h3>Read Status</h3>
        <a href="{% url 'biru:status' %}"><button  onclick="google.com">Click here!</button></a>
        <h3>Go back</h3>
        <a href="{% url 'biru:home' %}"><button  onclick="google.com">Click here!</button></a>
    </div>
{% endblock content %}

