{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>CREATE TRANSAKSI TOPUP DPAY</title>
{% endblock meta %}

{% block content %}
    <div style="text-align: justify;"> 
        <h1>FORM CREATE TRANSAKSI TOPUP DPAY</h1>
            <form action="{% url 'biru:create' %}" method="POST">
                {% csrf_token %}
                <label for="fname">Email</label>
                <input type="text" name="email" id="cars" list="cityname">
                <datalist id="cityname">
                    {% for dum in dummy %}
                        <option value= {{ dum.0 }}>{{ dum.0 }}</option>
                    {% endfor %}
                </datalist>
                <label for="fname">Nominal</label>
                <input type="text" id="fname" name="nominal">
                <br>
                <br>
                <button type="submit" value="Submit">Submit</button>
            </form>
    </div>
{% endblock content %}
