{% extends 'base.html' %}
{% load static %}


{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Email Selection</title>
{% endblock meta %}

{% block content %}

<div style="text-align: justify;"> 
    <h1>Pilih Email Pengguna</h1>
        <form action="{% url 'biru:create' %}" method="POST">
            {% csrf_token %}
            <label for="fname">Email</label>
            <input type="text" name="email" id="cars" list="cityname">
            <datalist id="cityname">
                {% for dum in dummy %}
                    <option value= {{ dum.0 }}>{{ dum.0 }}</option>
                {% endfor %}
            </datalist>
            <br>
            <br>
            <button type="submit" value="Submit">Submit</button>
        </form>
</div>

{% endblock content %}
