{% extends 'base.html' %}
{% load static %}


{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Read Transaksi TOPUP DPAY Kurir</title>
{% endblock meta %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Nominal</th>
      </tr>
    </thead>
    <tbody>
      {% for dum in dummy %}
      <tr>
          <td>{{ dum.0 }}</td>
          <td>{{ dum.1 | date:'Y/m/d H:i:s' }}</td>
          <td>{{ dum.2 }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}
