{% extends 'base.html' %}
{% load static %}


{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/update_laundry.css' %}">
<title>Transaksi TOPUP DPAY Staff</title>
{% endblock meta %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Email</th>
        <th scope="col">Tanggal</th>
        <th scope="col">Nominal</th>
        {% if request.session.user_type != "Kurir" %}
                <th scope="col">Action</th>   
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for dum in dummy %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ dum.0 }}</td>
            <td>{{ dum.1 | date:'Y/m/d H:i:s' }}</td>
            <td>{{ dum.2 }}</td>
            {% if request.session.user_type != "Kurir" %}
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-primary update_{{ forloop.counter }}_open" onclick="pop_up(this);" data-id="{{ forloop.counter }}" >Update</button>
                    <button class="btn btn-danger delete_{{ forloop.counter }}_open" onclick="popup_delete(this);" data-id="{{ forloop.counter }}">Delete</button>
                </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
  </table>

  {% if request.session.user_type == "Staf" %}
  {% for dum in dummy %}
  <section id="update_{{ forloop.counter }}" class="hide">
    {% include "update.html" with dum=dum num=forloop.counter %}
  </section>
  <section id="delete_{{ forloop.counter }}" class="hide">
    <h3>Apakah kamu yakin ingin menghapus ini?</h3>
    <div class="d-flex justify-content-end">
      <form action="{% url 'biru:delete' %}" method="POST">
        {% csrf_token %}
        <input name="tanggal" style="display: none;" value="{{ dum.1 | date:'Y-m-d H:i:s' }}">
        <button type="submit" class="btn btn-primary">Ya</button>
      </form>
      <button class="delete_{{ forloop.counter }}_close">Tidak</button>
    </div>
  </section>
  {% endfor %}
  {% endif %}

<script>
  function popup_delete(el) {
    var s = el.getAttribute('data-id');
    $(`#delete_${s}`).popup({
        pagecontainer: '#page',
        transition: 'all 300ms ease-in-out'
    });
}

</script>
{% endblock content %}

{% block jsfile %}
<script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js"></script>
<script src="{% static 'js/u_list_laundry.js' %}"></script>
{% endblock jsfile %}