{% extends 'base.html' %}
{% load static %}


{% block meta %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<title>Read Status</title>
{% endblock meta %}

{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">kode</th>
        <th scope="col">nama</th>
      </tr>
    </thead>
    <tbody>
        {% for dum in dummy %}
          <tr>
              <td>{{ dum.0 }}</td>
              <td>{{ dum.1|capfirst }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}
