<form action="{% url 'biru:update' %}" method="POST" class="formie_{{ num }}">
    {% csrf_token %}
    <div class="form-group">
        <label for="user-email">Email address</label>
        <input type="email" name="email" class="form-control" id="user-email" style="text-align: start;" value="{{ dum.0 }}" readonly>
    </div>
    <div class="form-group d-flex flex-row">
        <div class="form-group d-flex flex-row">
                <label for="date">Tanggal</label>
                <input type="text" id="date" name="date" class="form-control" value="{{ dum.1 | date:'Y/m/d H:i:s' }}" readonly>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <div class="form-group">
            <label for="user-item">Nominal</label>
            <input id="user-nominal" name="nominal" class="form-control" value="{{ dum.2 }}">
        </div>
    </div>
    <button id="b_{{ num }}" type="submit" style="opacity: 0; height: 1px;"></button>
</form>
<div class="d-flex justify-content-end">
    <button class="btn btn-primary" onclick="popup_button(this);" data-button="{{ num }}" >Update</button>
</div>

<section id="yakin_{{ num }}" class="hide">
        <h2>Apakah kamu yakin?</h2>
        <button type="submit" class="btn btn-primary" data-id="{{ num }}" onclick="submit_form(this);">Ya</button>
        <button id="yakin_{{ num }}_close">Tidak</button>
</section>

