.update-f {
    width: max-content;
    margin: 50px;
}

label[for="date"], label[for="month"], label[for="year"] {
    margin-top: .5rem;
}

#date, #month, #year {
    margin-left: 10px;
    text-align: center;
}

#date, #month {
    margin-right: 10px;
    width: 65px;
}

#year {
    width: 120px;
}



#user-kode, #user-item, #user-urut {
    width: 70px;
}

.popup_content {
    margin: 10px;
  padding: 30px;
  max-width: 60%;
  background: white;
  border-radius: 8px;
}

.hide {
    display: none;
}