{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
  <h1>TK BASDAT</h1>
  <h2>KELOMPOK 12</h2>
  <div class = start>
    <a href="{% url 'main:login' %}">CLICK HERE</a>
  </div>
{% endblock content %}
