{% extends "base.html" %}
    {% block meta %}
    <title>Login</title>
    {% endblock meta %}

    {% block content %}
    <h1>
        FORM LOGIN
    </h1>
    <div class = login>
        <form action="{% url 'main:login_view' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">{{ form.email.label }}</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="id_password">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            <button class="button" type="submit">LOGIN</button>
        </form>
        <a href="{% url 'main:register' %}">REGISTER</a>
    </div>
      
    {% endblock content %}