{% extends "base.html" %}

{% block meta %}
  
{% endblock meta %}

{% block content %}
<div class="page" style="padding: 20px;">
    <h2 style="text-align: center;">FORM ITEM</h2>
    <form action="{% url 'hijau:create_item' %}" method="post">
        <div class="form-group">
            <label for="id_kode">Kode Item</label>
            <input type="text" name="kode_item" maxlength="2" class="form-control" id="id_kode">
        </div>
        <div class="form-group">
          <label for="id_nama">Nama Item</label>
          <input type="text" name="nama_item" maxlength="254" class="form-control" id="id_nama">
      </div>
      <div class="d-flex justify-content-center">
          <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
</div>
{% endblock content %}

{% block jsfile %}
  
{% endblock jsfile %}