{% extends "base.html" %}

{% block meta %}
  
{% endblock meta %}

{% block content %}
<table class="table" style="border-bottom: 1px solid #dee2e6;">
    <thead class="thead-light">
        <tr>
            <th scope="col">Kode Item</th>
            <th scope="col">Nama Item</th>
        </tr>
    </thead>
    <tbody>
        {% for dum in dummy %}
          <tr>
              <td>{{ dum.0 }}</td>
              <td>{{ dum.1|capfirst }}</td>
            </tr>
        {% endfor %}
          </tbody>
      </table>
{% endblock content %}

{% block jsfile %}
  
{% endblock jsfile %}