{% extends "base.html" %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/create_laundry.css' %}">
{% endblock meta %}

{% block content %}
<div class="create-list-form">
  <h2>CREATE DAFTAR LAUNDRY</h2>
  <form action="{% url 'hijau:home' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_email">{{ form.email.label }}</label>
      {{ form.email }}
    </div>
    <div class="form-group">
      <label for="id_tanggal_transaksi">{{ form.tanggal_transaksi.label }}</label>
      {{ form.tanggal_transaksi }}
    </div>
    <div class="form-group">
      <label for="id_jumlah_item">{{ form.jumlah_item.label }}</label>
      {{ form.jumlah_item }}
    </div>
    <div class="form-group">
      <label for="id_kode_item">{{ form.kode_item.label }}</label>
      {{ form.kode_item }}
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% if hasSubmitBefore %}
  {% if messages %}
    {% for m in messages  %}
    {{ m }}
    {% endfor %}
  {% endif %}
{% endif %}
{% endblock content %}

{% block jsfile %}
<script id="csrf" type="application/json">{"hello": "{{ csrf_token }}"}</script>
<script src="{% static 'js/tanggal_ajax.js' %}"></script>
{% endblock jsfile %}