<select name="tanggal_transaksi" id="id_tanggal_transaksi" class="form-control">
    {% for i in tgl %}
      <option value="{{ i.0 | date:'Y/m/d H:i:s' }}">{{ i.0 | date:'Y/m/d H:i:s' }}</option>
    {% endfor %}
</select>