{% extends "base.html" %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/update_laundry.css' %}">
{% endblock meta %}

{% block content %}
<div id="page">

    <table class="table" style="border-bottom: 1px solid #dee2e6;">
        <thead class="thead-light">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Email</th>
                <th scope="col">Tanggal Transaksi</th>
                <th scope="col">No Urut</th>
                <th scope="col">Jumlah Item</th>
                <th scope="col">Kode Item</th>
                {% if isStaff %}
                <th scope="col">Action</th>
                  
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for dum in dummy %}
              <tr>
                {% if isStaff is False %}
                  {% if dum.0 == pelanggan_email %}
                    <th scope="row">{{ dummy.start_index|add:"-1"|add:forloop.counter }}</th>
                    <td>{{ dum.0 }}</td>
                    <td>{{ dum.1 | date:"d/m/Y" }}</td>
                    <td>{{ dum.2 }}</td>
                    <td>{{ dum.3 }}</td>
                    <td>{{ dum.4 }}</td>
                    
                  {% endif %}
                {% else %}
                <th scope="row">{{ dummy.start_index|add:"-1"|add:forloop.counter }}</th>
                  <td>{{ dum.0 }}</td>
                  <td>{{ dum.1 | date:"d/m/Y" }}</td>
                  <td>{{ dum.2 }}</td>
                  <td>{{ dum.3 }}</td>
                  <td>{{ dum.4 }}</td>
                {% endif %}
                  {% if isStaff %}
                  <td>
                      <button class="btn btn-primary update_{{ forloop.counter }}_open" onclick="pop_up(this);" data-id="{{ forloop.counter }}" >Update</button>
                      <button class="btn btn-primary delete_{{ forloop.counter }}_open" onclick="popup_delete(this);" data-id="{{ forloop.counter }}">Delete</button>
                  </td>
                  {% endif %}
               </tr>
               {% endfor %}
              </tbody>
          </table>
</div>

<!-- Pop Up Form untuk Update -->
  {% if isStaff %}
  {% for dum in dummy %}
  <section id="update_{{ forloop.counter }}" class="hide">
    {% include "daftar_laundry/update_list_laundry.html" with dum=dum kode=kode_list num=forloop.counter total=dummy %}
  </section>
  <section id="delete_{{ forloop.counter }}" class="hide">
    <h3>Apakah kamu yakin ingin menghapus ini?</h3>
    <div class="d-flex justify-content-end">
      <form action="{% url 'hijau:delete_laundry' %}" method="post">
        {% csrf_token %}
        <input type="number" name="no_urut" style="display: none;" value="{{ dum.2 }}">
        <button type="submit" class="btn btn-primary">Ya</button>
      </form>
      <button class="delete_{{ forloop.counter }}_close">Tidak</button>
    </div>
  </section>
  {% endfor %}

  {% endif %}
        
        <div class="d-flex justify-content-center">
            <ul class="pagination">
              {% if isStaff %}
              {% for i in dummy.paginator.page_range %}
                {% if dummy.number == i %}
                  <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              
              {% else %}
              {% for i in range %}
              {% if dummy.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
              {% endfor %}
              {% endif %}
            </ul>
        </div>
{% endblock content %}


{% block jsfile %}
<script src="https://cdn.jsdelivr.net/gh/vast-engineering/jquery-popup-overlay@2/jquery.popupoverlay.min.js"></script>
<script src="{% static 'js/u_list_laundry.js' %}"></script>
{% endblock jsfile %}