
<form action="{% url 'hijau:update_laundry' %}" method="POST" class="formie_{{ num }}">
    {% csrf_token %}
    <div class="form-group">
        <label for="user-email">Email address</label>
        <input type="email" name="email" class="form-control" id="user-email" style="text-align: start;" value="{{ dum.0 }}" readonly>
    </div>
    <div class="form-group d-flex flex-row">
        <div class="form-group d-flex flex-row">
                <label for="date">Tanggal</label>
                <input type="text" id="date" name="date" class="form-control" maxlength="2" min="1" value="{{ dum.1 | date:'d'  }}" readonly>
        </div>
        <div class="form-group d-flex flex-row">
        <label for="month">-</label>
        <input type="text" id="month" name="month" class="form-control" max="12" min="1" value="{{ dum.1 | date:'m' }}" readonly>
    </div>
    <div class="form-group d-flex flex-row">
        <label for="year">-</label>
        <input type="text" id="year" name="year" class="form-control" maxlength="4" min="2010" value="{{ dum.1 | date:'Y' }}" readonly>
    </div>
    </div>
    <div class="d-flex flex-row justify-content-between">
        <div class="form-group">
            <label for="user-urut">Nomor Urut</label>
            <input type="number" id="user-urut" name="no_urut" class="form-control" max="{{ total.paginator.count }}" min="1" value="{{ dum.2 }}">
        </div>
        <div class="form-group">
            <label for="user-item">Jumlah Item</label>
            <input type="number" id="user-item" name="jumlah_item" class="form-control" min="1" value="{{ dum.3 }}">
        </div>
        <div class="form-group">
            <label for="user-kode">Kode Item</label>
            <select class="form-control" id="user-kode" name="kode_item">
                {% for i in kode  %}
                    {% if i == dum.4 %}
                        <option selected>{{ i }}</option>  
                    {% else %}
                        <option >{{ i }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <button id="b_{{ num }}" type="submit" style="opacity: 0; height: 1px;"></button>
</form>
<div class="d-flex justify-content-end">
    <button class="btn btn-primary" onclick="popup_button(this);" data-button="{{ num }}" >Update</button>
</div>

<section id="yakin_{{ num }}" class="hide">
        <h2>Apakah kamu yakin?</h2>
        <button type="submit" class="btn btn-primary" data-id="{{ num }}" onclick="submit_form(this);">Ya</button>
        <button id="yakin_{{ num }}_close">Tidak</button>
</section>