<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>
        FORM REGISTER
    </h1>
    <div class = register>
        <form id = register>
            <button>
                <a href="{% url 'main:register_pelanggan' %}">PELANGGAN</a>
            </button>
            <button>
                <a href="{% url 'main:register_staf' %}">STAF</a>
            </button>
            <button>
                <a href="{% url 'main:register_kurir' %}">KURIR</a>
            </button>
        </form>
    </div>
</body>
</html>